* {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h6,
p {
    margin-top: 0;
    margin-bottom: 10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.fix:before,
.fix:after {
    content: "";
    display: table;
}

.fix:after {
    clear: both;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.header-area {
    padding: 27px 0;
}

.header {}

.logo {}

.menu {
    margin-top: 4px;
}

.menu ul {}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #444;
    padding: 12px 10px;
}

.menu ul li a:hover {
    background-color: #1bbc9b;
    color: #fff;
}

.banner-area {
    background: url(image/banner.jpg) no-repeat scroll center center / cover;
    background-attachment: fixed;
    min-height: 570px;
    display: table;
    width: 100%;
    text-align: center;
}

.banner-cell {
    display: table-cell;
    vertical-align: middle;
}

.welcome-text {
    color: #fff;
    padding: 0px 100px;
}

.welcome-text h1 {
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 30px;
}

.welcome-text h1 span {
    font-weight: 700;
}

.welcome-text p {
    font-size: 18px;
    font-weight: 300;
}

.welcome-text a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #1bbc9b;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    margin-top: 30px;
}

.welcome-text i {
    display: block;
    font-size: 50px;
    margin-top: 30px;
}

.portfolio-area {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    color: #444;
    margin-bottom: 37px;
}

.section-title h1,
.member h3 {
    font-size: 28px;
    font-weight: 400;
}

.section-title p,
.member h3 span {
    font-size: 16px;
    font-weight: 400;
}

.portfolio ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    margin-right: -10px;
    margin-bottom: 25px;
}

.portfolio ul li {
    display: inline-block;
    padding: 8px 10px;
    background-color: #1bbc9b;
    margin-left: 15px;
}

.item {
    margin-left: -30px;
}

.s-item {
    border-radius: 50%;
    height: 217px;
    margin-bottom: 30px;
    margin-left: 30px;
    overflow: hidden;
    width: 217px;
    position: relative;
}

.img-hover {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.4s ease-out 0s;
}

.img-hover:before {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #1bbc9b;
    opacity: .70;
    content: "";
    border-radius: 50%;
}

.img-hover * {
    position: relative;
    z-index: 2;
}

.img-hover a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-table;
    position: relative;
    color: #fff;
    margin-top: 60px;
}

.img-hover a:before {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #444;
    opacity: .61;
    content: "";
    border-radius: 50%;

}

.img-hover a i {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 3;
}

.s-item:hover .img-hover {
    transform: scale(1);
}

.about-us {
    padding: 80px 0;
    background: #1bbc9b;
}

.about-us .section-title {
    color: #fff;
}

.member-list {
    margin-left: -60px;
}

.m-img img {
    min-width: 100%;
}

.m-img {
    margin-bottom: 20px;
}

.member {
    float: left;
    margin-left: 60px;
    width: 280px;
    background-color: #fff;
}

.member h3 {
    text-align: center;
    font-size: 18px;
}

.member h3 span {
    display: block;
    font-size: 14px;
}

.member h3,
.member p {
    margin: 10px;
}

.contact-area {
    padding: 80px 0;
}

.contact-area h6 {
    font-size: 14px;
}

.contact {
    margin-left: -30px;
}

.contact-form .contact-address {
    width: 465px;
    margin-left: 30px;
}

.contact-form {
    text-align: right;
    padding: 30px;
    box-sizing: border-box;
}

.contact-form,
.contact-address {
    width: 50%;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    padding: 10px;
    border: 1px solid #Bec3c7;
    margin-bottom: 15px;
    width: 42%;
    color: #999999;
}

.contact-form input[type="email"] {}

.contact-form input[type="submit"] {
    background-color: #1bbc9b;
    border: none;
    padding: 6px 10px;
    text-transform: uppercase;
    color: #fff;
}

.contact-form textarea {
    width: 100%;
}

.contact-address {}

.contact-address p.address {
    position: relative;
}

.contact-address p.address:before {
    content: "\f041";
    font-family: "FontAwesome";
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
}

.contact-address p.address span {
    padding-left: 15px;
    display: inline-block;
}